main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project-body{
    background-color: grey;
    border-radius: 20px;
    min-height: 300px;
    width: 1000px;
    padding: 0px 15px;
    color: rgb(42, 41, 41);
}
.project-header{
    display: flex;
}
.project-title{
    flex-grow: 1;
}

.project-image-container{
    display: flex;
    overflow-x: scroll;
    scale: hidden;
    gap: 10px;
    margin: 20px;
}
.project-image-container::-webkit-scrollbar {
    display: none;
}
.project-image-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.project-image{
    height: 400px;
    border-radius: 10px;
    border: solid black 4px;
}
