main{
    margin: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    img{
        width: 40%;
        max-width: 400px;
        border: solid 1px gray;
    }
}
main .body{
    background-color: grey;
    border-radius: 20px;
    min-height: 300px;
    width: 40%;
    padding: 0px 15px;
    color: rgb(42, 41, 41);
    
}