html {
    scroll-behavior: smooth;
}

.jump-container{
    z-index: 1;
    width: 15%;
    padding: 10px;
    position: fixed;
    display: flex;
    text-wrap:wrap ;
    font-size: 0.85rem;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    gap: 10px;
    color: rgb(118, 118, 118);
    a{
        color: rgb(118, 118, 118);
        font-size: 0.85rem;
        text-decoration-line: underline;
    }
    
}
.jump-container::-webkit-scrollbar {
    display: none;
}
.jump-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items:end;
    gap: 20px;
}

.project-body{
    background-color: grey;
    border-radius: 20px;
    min-height: 300px;
    width: 80%;
    padding: 0px 15px;
    color: rgb(42, 41, 41);
    .project-header{
        display: flex;
        align-content: center;
        .title{
            flex-grow: 1;
        }
    }

    img{
        height: 250px;
        border-radius: 10px;
        border: solid black 4px;
    }
    .project-image-container{
        display: flex;
        overflow-x: scroll;
        scale: hidden;
        gap: 10px;
        margin: 20px;
    }
    .project-image-container::-webkit-scrollbar {
        display: none;
    }
    .project-image-container {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    a{
        color: black;
        text-decoration-line: underline;
    }
}





